/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  background: white;
  font-family: "DM Sans", sans-serif;
}
#mainNavbar {
  color: black;

  font-size: 1.5rem;
  font-weight: 100;
  min-height: 100px;
}
.nav-content {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-basis: 100%;
}
.nav-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#main-landing {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
}
.feature-list,
.payment-list {
  list-style: none;
}
#search-bar {
  margin-left: 25%;
}
.nav-item i {
  padding-left: 5px;
}

.feature-list img {
  width: 40px;
  height: 40px;
}
#mainNavbar #nav-style {
  color: black;

  font-size: 0.7em;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
#mainNavbar #nav-button {
  color: white;
  font-size: 0.6em;
  font-weight: 700;
}
footer {
  background-color: #00112c;
}
footer ul {
  color: white;
  list-style: none;
}

.feature-list h2,
.payment-list h2 {
  font-weight: 700;
}
.payment-list h2 {
  font-size: 3em;
}
.feature-list a,
.payment-list a {
  font-weight: 700;
  transition: all 300ms;
}
.feature-list a:hover,
.payment-list a:hover {
  border-bottom: solid 2px #0abf53;
  cursor: pointer;
}

.feature-list:last-child {
  margin-bottom: 30px;
}
#Transactions {
  background-color: #00112c;
}
#Transactions h1 {
  font-size: 3em;
  font-weight: 700;
}

#content p {
  font-size: 1.1em;
  margin-bottom: 20px;
  line-height: 30px;
}
#mainNavbar #nav-style:hover {
  border-top: #0abf53 solid 4px;
  transition: border 500ms;
  box-sizing: content-box;
}
#features {
  background-color: #f3f6f9;
  min-height: 500px;
}
#Payments {
  background-color: #ffffff;
  min-height: 435px;
  position: relative;
  top: -50px;
}
#mainNavbar .navbar-brand {
  background-image: url(photos/adyen-header-logo-green.svg);
  background-size: cover;
  width: 100px;
  height: 38px;
}
#title h1 {
  font-weight: 700;
  font-size: 64px;
  margin-bottom: 17px;
}
#title p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 17px;
}
#title button {
  width: 50%;
  margin-bottom: 10px;
}
#main-video video {
  width: 472px;
}
#logo-bar {
  min-height: 200px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

#journey {
  min-height: 300px;
}
#journey .journey-list {
  list-style: none;
}
#journey .journey-list h2 {
  font-weight: 700;
}
.icon {
  border: 1px white solid;
  border-radius: 10px;

  opacity: 0.7;
}
.icon:hover {
  opacity: 1;
  cursor: pointer;
}
#linkedin {
  background-image: url(photos/linkedin-logo.png);
  background-position: center;

  background-size: 30px;
  background-repeat: no-repeat;
}
#facebook {
  background-image: url(photos/facebook-logo.png);
  background-position: center;

  background-size: 30px;
  background-repeat: no-repeat;
}
#twitter {
  background-image: url(photos/twitter-logo.png);
  background-position: center;

  background-size: 30px;
  background-repeat: no-repeat;
}
.copyright {
  border-top: 1px rgb(119, 119, 119) solid;
  padding-bottom: 30px;
}
.email-input {
  background-color: #00112c;
  border: 1px white solid;
}
#main-video {
  margin-left: 5%;
}
button {
  background-color: #0abf53;
}
@media (min-width: 300px) {
  #nav-content {
    padding-left: 1%;
  }
  #navbar {
    width: 100%;
  }
  #main-video {
    margin-left: 0;
  }
  #main-landing {
    width: 100%;
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #title h1 {
    font-size: 35px;
  }
  #title p {
    font-size: 15px;
    line-height: 20px;
  }
  #title button {
    width: 80%;
    margin-bottom: 20px;
  }
  #main-video video {
    width: 319px;
  }
  .copyright {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 750px) {
  #nav-content {
    padding-left: 1%;
  }
  #main-landing {
    display: flex;
    flex-direction: row;
  }
  #main-video {
    margin-left: 5%;
  }
  #main-video video {
    width: 319px;
  }
}
@media (min-width: 1280px) {
  #nav-content {
    padding-left: 14%;
  }
  #search-bar {
    margin-left: 16%;
  }
}
@media (min-width: 1366px) {
  #nav-content {
    padding-left: 11%;
  }
  #search-bar {
    margin-left: 28%;
  }
  #main-landing {
    display: flex;
    flex-direction: row;
  }
  #main-video video {
    width: 472px;
  }
}
@media (min-width: 1440px) {
  #nav-content {
    padding-left: 13%;
  }
  #search-bar {
    margin-left: 27%;
  }

  #main-video video {
    width: 472px;
  }
}
@media (min-width: 1600px) {
  #nav-content {
    padding-left: 17%;
  }
  #search-bar {
    margin-left: 25%;
  }
  #main-landing {
    display: flex;
    flex-direction: row;
  }
  #main-video video {
    width: 472px;
  }
}
@media (min-width: 1700px) {
  #nav-content {
    padding-left: 19%;
  }
  #search-bar {
    margin-left: 24%;
  }

  #main-video video {
    width: 472px;
  }
}
@media (min-width: 1800px) {
  #nav-content {
    padding-left: 21%;
  }
  #search-bar {
    margin-left: 22.5%;
  }

  #main-video video {
    width: 472px;
  }
}
@media (min-width: 1920px) {
  #nav-content {
    padding-left: 23%;
  }
  #search-bar {
    margin-left: 21.5%;
  }
}
@media (min-width: 2100px) {
  #nav-content {
    padding-left: 25%;
  }
  #search-bar {
    margin-left: 20%;
  }
}
